.header_font {
    font-family: 'Marcellus SC', serif;
}

.body_font {
    font-family: 'Philosopher', sans-serif;
}

.hidden {
    display: none;
}

html {
    height: 100%;
}

body {
    background: url("../img/game_background.jpg"), no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    margin: 0;
    height: 100%;
    overflow: hidden;
    color: yellow;
}

#board_container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: inline-flex;
}

#board {
    overflow: auto;
    height: 100%;
    width: 80%;
}

#board_img {
    height: 200%;
    width: 200%;
}

#side_panel {
    width: 20%;
    height: 100%;
    background: url(../img/background3.jpg), no-repeat;
    background-size: 100%;
}

#map_container {
    width: 100%;
    height: 35vh;
    background: url(../img/map_area.jpg), no-repeat;
    background-size: 100% 100%;
}

#map_thumbnail {
    width: 17.5vw;
    height: 30.4vh;
    position: relative;
    left: 2.5vh;
    top: 2.2vh;
}

#board_border {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 101vh;
    height: 100vh;
    margin-top: -50vh;
    margin-left: -50vh;
}

#current_board {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 92vh;
    height: 92vh;
    margin-top: -45.75vh;
    margin-left: -45.75vh;
    box-shadow: 0 0 50px white;
}

#actions_status {
    position: absolute;
    left: 5.5vh;
    top: 5vh;
    font-size: 2.2vh;
}

#movement_arrows {
    position: absolute;
    left: 78vh;
    top: 85vh;
}

.arrows {
    width: 4.5vh;
    height: 4.5vh;
}

.tooltip {
    font-family: 'Marcellus SC', serif;
    color: yellow;
    cursor: default;
}

.tooltip:hover {
    text-shadow: 0 0 5px yellow;
}

.action_list {
    text-align:center;
    color: yellow;
    font-family: 'Marcellus SC', serif;
    cursor: default;
}

.action:hover {
    text-shadow: 0 0 5px yellow;
}

.hidden {
    display: none;
}

#end_turn_button {
    text-align: center;
    background: url("../img/button_new2.jpg") no-repeat;
    color: yellow;
    font-family: 'Marcellus SC', serif;
    cursor: default;
    background-size: contain;
    outline: none;
    border: none;
    font-size: 1.8vh;
    width: 14vh;
    height: 6vh;
}

#end_turn_button:hover {
    text-shadow: 0 0 5px yellow;
    box-shadow: 0 0 5px yellow;
}

#end_turn_button:active {
    background: url("../img/button_new_clicked.jpg");
    background-size: contain;
    width: 14vh;
    height: 6vh;
}

#end_turn_container {
    position: absolute;
    left: 8vh;
    top: 89.6vh;
}

.turn_banner {
    position: absolute;
    margin: auto;
    top: 43.8vh;
    width: 100%;
    z-index: 51;
}

.banner_words {
    position: absolute;
    left: 1vh;
    top: 1.7vh;
    font-family: 'Marcellus SC', serif;
    text-shadow: 0 0 40px yellow;
    font-size: 24pt;
}

#start_banner_gradient {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+20,2989d8+50,1e5799+80&0+0,0.8+15,1+19,1+81,0.8+85,0+100;Blue+Two+Sided+Transparent */
    background: -moz-linear-gradient(top, rgba(30,87,153,0) 0%, rgba(30,87,153,0.8) 15%, rgba(30,87,153,1) 19%, rgba(30,87,153,1) 20%, rgba(41,137,216,1) 50%, rgba(30,87,153,1) 80%, rgba(30,87,153,1) 81%, rgba(30,87,153,0.8) 85%, rgba(30,87,153,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(30,87,153,0.8) 15%,rgba(30,87,153,1) 19%,rgba(30,87,153,1) 20%,rgba(41,137,216,1) 50%,rgba(30,87,153,1) 80%,rgba(30,87,153,1) 81%,rgba(30,87,153,0.8) 85%,rgba(30,87,153,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#001e5799',GradientType=0 ); /* IE6-9 */
    height: 12vh;
}

#start_banner_content {
    position: relative;
    top: 1.7vh;
}